        .nav {
            align-items: right;
            text-align: right;
            justify-content: space-evenly;
            display: flex;
            background-color: rgb(226, 170, 180);
            padding: 25px;
            text-decoration: none;
        }
        
        a {
            text-decoration: none;
        }
        
        body {
            background-image: url("pexels-photo-2387793.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
        }
        
        .parr {
            margin: auto 50px;
            padding: 50px;
            width: 500px;
            background-color: rgb(226, 170, 180);
            float: left;
            align-items: baseline;
        }
        
        .h {
            padding: 0px;
            margin-left: 750px;
            padding-bottom: 90px;
            margin-bottom: 50px;
        }